@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  align-items: center;
}

.card {
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px #35127a7f;
  width: 32.7rem;
  margin: 14.8rem 22.4rem 8.5rem;
  padding: 0 2.4rem 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 2rem;
}

.photo-container-mobile {
  align-self: center;
  margin-right: 24rem;
}

.photo-container-desktop {
  display: none;
}

.question-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.question-section h1 {
  color: #1e1f36;
  font-size: 3.2rem;
  font-weight: 700;
  align-self: center;
  margin-top: 13.2rem;
}

.faq-item {
  position: relative;
}

.faq-question {
  color: #4b4c5f;
  font-size: 1.3rem;
  font-weight: 400;
  transition: 0.3s;
  padding: -0.5rem 0 1.8rem 0;
  text-align: left;
  transform: translateY(1rem);
}

.faq-question:hover {
  color: #1e1f36;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

#faq-answer {
  display: none;
}

#faq-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #787887;
  line-height: 1.8rem;
}

.arrow {
  position: absolute;
  right: -1rem;
  top: 1.5rem;
  width: 1rem;
  height: 0.6rem;
  stroke-width: 0.2rem;
  stroke: #f47b56;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.line {
  margin-top: 0.9rem;
  width: 100%;
  height: 0.1rem;
  background: #e8e8ea;
  transform: translateY(1rem);
}

.first-one {
  margin-top: 4rem;
}

#shadow-desktop {
  display: none;
}

#main-img {
  position: absolute;
  width: 23.7rem;
  height: 18rem;
  top: -11rem;
}

#shadow-mobile {
  position: absolute;
  top: 1rem;
}

#woman-desktop {
  display: none;
}

@media only screen and (min-width: 90rem) {
  .card {
    border-radius: 2.3rem;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
    width: 92rem;
    background-image: url(./assets/illustration-woman-online-desktop.svg),
      url(./assets/bg-pattern-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 47.2rem 35.8rem, 97rem 95rem;
    background-position: left -7rem top 6rem, bottom -15rem right 50rem;
  }

  #main-img {
    display: none;
  }

  .photo-container-desktop {
    display: block;
  }

  .question-section {
    top: 2rem;
    gap: 1rem;
  }

  .question-section h1 {
    margin-left: 6rem;
  }

  .faq-question {
    font-size: 1.4rem;
    padding: 1rem 21rem 1rem 2rem;
    text-align: right;
    font-weight: 400;
    margin-right: -2rem;
  }
  .faq-question:hover {
    font-weight: 700;
  }
  .faq-item {
    margin-top: 0rem;
  }
  .arrow {
    right: 1rem;
    top: 2rem;
  }

  .line {
    margin-top: 1.8rem;
    width: 40rem;
    margin-left: 43rem;
  }

  #shadow-mobile {
    display: none;
  }

  .one {
    margin-right: 4rem;
  }
  .two {
    margin-right: 4rem;
  }

  .three {
    margin-right: 0rem;
  }

  .box {
    position: absolute;
    z-index: 1;
    top: 20rem;
    left: -9rem;
  }

  .faq-answer {
    width: 55ch;
    transform: translateX(43rem);
  }

  .last-answer {
    width: 48ch;
  }
}
