@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

.card {
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px #35127a7f;
  width: 32.7rem;
  margin: 14.8rem 22.4rem 8.5rem;
  padding: 0 2.4rem 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 2rem;
}

.photo-container-mobile {
  align-self: center;
}

.photo-container-desktop {
  display: none;
}

.question-section {
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
  gap: 3.8rem;
}

.question-section h1 {
  color: #1e1f36;
  font-size: 3.2rem;
  font-weight: 700;
  align-self: center;
}

.faq-item {
  position: relative;
}

.faq-question {
  color: #4b4c5f;
  font-size: 1.3rem;
  font-weight: 400;
  transition: 0.3s;
  padding: 19px 0 18px 0px;
  text-align: left;
}

.faq-question:hover {
  color: #1e1f36;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

#faq-answer {
  display: none;
}

#faq-text {
}
